.navbar
{
  margin: 0 0 20px 0;
  border-bottom: 1px solid #EEE;
  border-radius: 0;
  background-color: #0D0D0D;
  padding: 10px 20px;
}
a.navbar-brand
{
  font-size: 200%;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-text
{
  color: #ddd;
}
.navbar img
{
  float:left;
  height: 50px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.nav-tabs a
{
  padding: 0.2em 0.4em !important;
}

div.testHeader
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question
{
  /* margin: 1em; */
  padding: 0.7em;
  border: 1px solid transparent;
  border-radius: 3px;
}
.question.viewMode:hover
{
  cursor: pointer;
  border: 1px solid #eee;
  border-radius: 3px;
}
.question.editMode
{
  padding-top: 0;
  /* background-color: #f3f3f3; */
  /* background-color: rgba(0,0,0,0.1); */
  border: 1px dashed lightgrey;
}
ol.multiple-choice
{
  list-style-type: lower-alpha;
}
/* div.choice:before */
/* { */
  /* content: "\2610  "; */
/* } */

.buttonRow
{
  margin: 0.4em 0;
  display: flex;
  justify-content: flex-end;
}
td.buttonRow
{
  /* Ugly hack to fix weird problem with border at top instead of bottom.*/
  margin: -1px 0;
}
.buttonRow button
{
  align-self: center;
}
.buttonRow .fill
{
  flex-grow: 1;
}

div.lr-align
{
  display: flex;
  justify-content: space-between;
}

.btn + .btn
{
  margin-left: 3px;
}
.btn.btn-block
{
  margin-left: 0;
}
.form-group
{
  margin: 1em 0;
  /* background-color: rgba(255,255,255,0.3); */
  /* padding: 0.8em; */
}

.dropdown-menu
{
  position: relative;
}
ul.dropdown-menu li
{
  cursor: pointer;
}

div.multi-inline
{
  display: inline;
}
div.multi-inline > div
{
  display: inline;
}

div.multi
{
  padding-top: 0.4em;
}
div.multi > div
{
  display: flex;
  padding: 0px;
}
div.multi input.form-control
{
  margin-bottom: 0 !important;
}
label
{
  margin-right: 0.5em;
}
.label
{
  margin: 0.3em;
  font-size: 100%;
}

h3
{
  margin: 0;
}

/* div.multipleChoiceAnswers input */
input[type=text]
{
  display: inline-block;
  flex-grow: 1;
  margin-left: 0.6em;
  margin-right: 0.6em;
  margin-bottom: 0.3em;
}
div.multi button.btn-primary
{
  margin-left: 0.8em;
}
div.multipleChoiceAnswers button.btn-primary
{
  margin-left: 2.7em;
}
button.mc-button
{
  padding: 0 0.2em;
  font-size: 115%;
  font-weight: bold;
}
button.mc-false
{
  background-color: #ff9090 !important;
}
button.mc-true
{
  background-color: #90ff90 !important;
}

label input, label div[contenteditable]
{
  font-weight: normal;
}
div.rt-container div[contenteditable]
{
  min-height: 20ex;
  height: auto;
  width: 100%;
}
div.rt-container.panel
{
  border: 0;
  margin-bottom: 0;
}
div.rt-container div.panel-header
{
  display: flex;
  justify-content: flex-end;
  background-color: #f9f9f9;
}

.modal
{
  overflow: auto;
}
.modal-dialog
{
  margin-top: 10em;
  width: 85%;
}
.modal-body
{
  padding-top: 0;
  padding-bottom: 0;
}

div.imagePreview img
{
  max-width: 300px;
}

.dnd-handle
{
  cursor: move;
}
.dnd-dropzone
{
}
.dnd-dropzone.dnd-eligible
{
  min-height: 3em;
  border: 1px dashed #ddd;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.dnd-dropzone.dnd-eligible:after
{
  content: "Verplaats hierheen";
}
.dnd-dropzone.dnd-eligible.dnd-over
{
  background-color: #bbb;
}

/**
 * Search questions
 */
.panel-heading form .form-group:last-child {
    margin-bottom: 0;
}

/**
 * Question list
 */

.question-list .panel-body {
    padding: 0;
}

div.warning
{
  float: right;
  background-color: #ffcccc;
  padding: 0.3em;
  font-weight: bold;
}
